$eden: #13535E;
$abbey: #414244;
$backgroundColor: $abbey;

$gallery: #ededed;
$dustyGray: #A6A0A0;

$dodgerBlue: #52A1FE;

$fontColor: $gallery;
$fontStack: Helvetica, sans-serif;

html {
    background-color: $backgroundColor;
    font: 100% $fontStack;
    color: $fontColor;

    h1 {
      font-size: 4vh;
    }

    p {
      font-size: 2vh;
    }

    #main {
        text-align: center;
    }

    #result {
        font-weight: bold;
        border: 2px solid $dodgerBlue;
        margin: 2vh 20%;

        p {
            font-size: 2vh;
        }
    }

    input {
        font-size: 2vh;
        text-align: center;
        margin-bottom: 24px;
    }

    .btn {
        min-width: 44px;
        font-size: 2vh;
        font-weight: bold;
        color: black;
        font-family: 'Lato', sans-serif;
        cursor: pointer;
        padding: 7px 2%;
        border-radius: 5px;
        color: black;
        text-decoration: none;
        background-color: $gallery;
        border: 2px solid $dustyGray;
    }
}
